@charset "utf-8";
/* CSS Document */

/*--GENERAL CSS--*/
html, body{min-height:100%;}
p, label{margin:0; padding:0;}
h1, h2, h3, h4, h5, h6{padding:0; margin:0;}
figure{margin:0;}
a, a:hover{text-decoration:none;}
ul{padding:0; margin:0;}
ul, li{list-style:none;}
img{max-width:100%;}
body{margin:0; font-size:1rem; font-weight:400; line-height:1.5; text-align:left; background-color:#fff;}

/*--TRANSITIONS--*/
a, .transition-all{-o-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -khtml-transition: all 0.2s linear; -webkit-transition: all 0.2s linear; -ms-transition: all 0.2s linear; transition: all 0.2s linear;}

/*--Fonts--*/
@import url('https://fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&display=swap');
.muli-font{font-family:'Muli', sans-serif;}

/*--Variables--*/
:root{
	--viewport-height:100vh;
	--primary-color:#88D5D1;  
	--secondary-color:#4a6c80;
	--white-color:#fff;
	--border-radius:5px;
	--box-shadow-color:rgba(0,0,0,0.16);
	--primary-font:'Muli', sans-serif;
	--font-size:16px;
	--text-color:#5F6772;
	--font-light:300;
	--font-regular:400;
	--font-bold:700;
}
@media(max-width:767px){
	:root{
		--border-radius:4px;
		--font-size:14px;
	}
}
.primary-gradient{
background: var(--primary-color);
background: -moz-linear-gradient(top,  var(--primary-color) 0%, var(--secondary-color) 100%);
background: -webkit-linear-gradient(top,  var(--primary-color) 0%, var(--secondary-color) 100%);
background: linear-gradient(to bottom,  var(--primary-color) 0%, var(--secondary-color) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='var(--primary-color)', endColorstr='var(--secondary-color)',GradientType=0 );
}

/*--Buttons--*/
.btn:focus{box-shadow:none;}
.btn{padding:5px 10px; line-height:26px; font-weight:var(--font-light); border:1px solid var(--secondary-color); text-align:center; font-size:var(--font-size); color:var(--secondary-color); box-shadow:0 3px 6px var(--box-shadow-color);}
.btn:hover{background-color:var(--secondary-color); color:var(--white-color);}
.btn-rounded-o{border-radius:20px;}

/*--Headdings--*/
h1, h2, h3, h4, h5, h6{color:var(--text-color);}
h1{font-size:60px;}
h2{font-size:30px;}
h6{font-size:20px;}
@media(max-width:1199px){
	h1{font-size:50px;}
	h2{font-size:28px;}
}
@media(max-width:991px){
	h1{font-size:45px;}
	h2{font-size:26px;}
}
@media(max-width:767px){
	h1{font-size:40px;}
	h2{font-size:24px;}
}

/*--Paragraph--*/
p{font-size:var(--font-size); color:var(--text-color); font-weight:var(--font-regular); line-height:1.5;}

/*--Nav Icon--*/
.nav-icon{width:30px; cursor:pointer;}
.nav-icon:before, .nav-icon:after{
  border-radius:2px;
  height:3px;
  margin:7px 0;
  transition:all 0.3s ease-in-out;
  background-color:#fff;
  content:"";
  display:block;
  position:relative;
}
.nav-icon:before{
  box-shadow:0 11px 0 #fff;
  margin-bottom:18px;
}
.nav-icon.active:before{
  box-shadow:0 0 0 #fff;
  -webkit-transform:translateY(11px) rotate(45deg);
  transform:translateY(11px) rotate(45deg);
  background-color:#fff;
}
.nav-icon.active:after{
  -webkit-transform:translateY(-11px) rotate(-45deg);
  transform:translateY(-11px) rotate(-45deg);
  background-color:#fff;
}
@media(min-width:1200px){
	.nav-icon{display:none;}
}